<html>
<head>
<meta charset="UTF-8">
<title>OSM - wikdata</title>
</head>
<body>
<table>
    {% for wikidata, osm in matches %}
    <tr>
        <td>
            <a href="http://wikidata.org/wiki/{{ wikidata['id']}}">{{ wikidata['labels'].get('en', 'no english title') }}</a> ({{ wikidata['id'] }})
        </td>
        <td>
            <span class="name"><a href="http://www.openstreetmap.org/{{osm['type']}}/{{osm['id']}}">{{osm['tags']['name']}}</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
