<html>
<head>
<meta charset="UTF-8">
<title>{{ cat }} - OSM - Wikdata</title>
</head>
<body>
<h1>{{ cat }}</h1>
<a href="/osm-wikidata/">Back to index</a><p>
Found {{ count }} matches.<p>
On Wikipedia: <a href="https://en.wikipedia.org/wiki/Category:{{ full_cat.replace(' ', '_') }}">Category:{{ full_cat }}</a><p>
<table>
    {% for wikidata, osm in matches %}
    <tr>
        <td>
            <a href="http://wikidata.org/wiki/{{ wikidata['id']}}">{{ wikidata['labels'].get('en', 'no english title') }}</a> ({{ wikidata['id'] }})
        </td>
        <td>
            <span class="name"><a href="http://www.openstreetmap.org/{{osm['type']}}/{{osm['id']}}">{{osm['tags']['name']}}</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
